html, body {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #87e0fd; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family: 'Raleway', sans-serif;

	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.content h1 {
	color: white;
	font-weight: bold;
	font-size: 32px;
	margin: 0;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.content .links {
	list-style-type: none;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	text-align: center;
}

.content .links .link {
	display: inline;
}

.content .links .link a {
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.content h2 {
	color: white;
	font-weight: bold;
	font-size: 32px;
	margin: 0;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.content h2 i {
	vertical-align: baseline;
}

#me {
	display: block;
}

#projects, .back-button {
	display: none;
}

#projects {
	padding-top: 50px;
	columns: 320px 3;
}

h3 {
	color: white;
}

#more {
	cursor: pointer;
}

.projects {
	display: block;
	break-inside: avoid;
}

.projects ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-align: left;
	max-width: 320px;
	align-items: center;
	margin: 5px 0;
	padding: 5px 0;
}

.project a h3{
	padding: 0;
	margin: 0;
}

.project img {
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	flex-grow: 1;
}

.project .description {
	margin-left: 10px;
}

.project p {
	max-height: 100px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.project sub {
	color: #f00;
	font-size: 0.6rem;
	margin-top: 1px;
	display: block;
	text-align: right;
}

ul, li {
	list-style: none;
}

ul {
	padding: 16px;
}

a {
	text-decoration: none;
	color: unset;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.back-button {
	font-size: 1.5rem;
	color: white;
	position: fixed;
	top: 10px;
	left: 10px;
}

.image {
	position: relative;
}

.speech-bubble {
	background: #33beea;
	border-radius: .4em;


	position: absolute;
	right: -20px;
	top: -20px;
	transform: rotate(20deg);
	width: 100px;
	padding: 10px;
	color: white;
	-webkit-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #33beea;
	border-bottom: 0;
	border-left: 0;
	margin-left: -7.5px;
	margin-bottom: -15px;
}
